<a href="https://colab.research.google.com/github/nanunzoey/git_practice-1/blob/main/session_click_211013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Item별 클릭 이벤트 카운트**

#### **- 뭘 하는 것인가?**
- item에 대한 사용자의 **선호도**를 객관적으로 측정하는 지표로 **클릭 수**를 이용하려고 합니다.
- 이를 위해 item별 사용자의 클릭 이벤트를 count해서 **추천 알고리즘에 사용**할 예정입니다.
- 클릭 수 외에도 **장바구니, 찜하기, 구매 여부 데이터**가 있으면 **더 정확하게** 선호도를 예측할 수 있습니다.


#### **- 데이터**
- 아래 사용된 데이터는 공개된 [E-commerce Session 데이터](https://www.kaggle.com/chadgostopp/recsys-challenge-2015)입니다.
- 각 세션은 **사용자의 클릭 이벤트를 수집한 것**이며, 데이터의 구성은 다음과 같습니다.
- Columns
    - 1) 세션 ID
    - 2) 타임스탬프
    - 3) Item ID
    - 4) Category
- 위 column 중 category를 제외한 나머지 3개를 이용해 item별 클릭 수를 count했습니다.

In [1]:
import os
from urllib import request
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
file_path = '/content/drive/MyDrive/AIFFEL/해커톤3/미니해커톤_토이모델구현/yoochoose-clicks.dat'

In [3]:
session = pd.read_table(file_path, header=None, encoding='utf-8', sep=',', names=['session_id', 'timestamp', 'item_id', 'category'])

In [4]:
# 원본 데이터
session.head()

   session_id                 timestamp    item_id category
0           1  2014-04-07T10:51:09.277Z  214536502        0
1           1  2014-04-07T10:54:09.868Z  214536500        0
2           1  2014-04-07T10:54:46.998Z  214536506        0
3           1  2014-04-07T10:57:00.306Z  214577561        0
4           2  2014-04-07T13:56:37.614Z  214662742        0

In [5]:
# 원본 데이터셋 크기
session.shape

(33003944, 4)

In [6]:
# 데이터 컬럼별 unique number check
session.nunique()

session_id     9249729
timestamp     32937845
item_id          52739
category           340
dtype: int64

In [7]:
# 필요 없는 column drop
session.drop('category', axis=1, inplace=True)

In [8]:
# 중복 data drop
session.drop_duplicates(inplace=True)

# 전처리 후 데이터 크기
session.shape

(33003875, 3)

In [9]:
# item_id별 클릭 수 count
click = session.groupby('item_id').count()

In [28]:
# click 수가 가장 많은 item 순으로 정렬
result = click.sort_values(by='timestamp', ascending=False)
result.head()

           session_id  timestamp
item_id
643078800      147419     147419
214853094      125690     125690
214829878      113488     113488
214853420       78448      78448
214826610       69710      69710

In [29]:
# item_id별 click 수를 카운트한 결과 도출 완료!
result.reset_index().drop('timestamp', axis=1).rename(columns={'session_id': 'click_count'})

         item_id  click_count
0      643078800       147419
1      214853094       125690
2      214829878       113488
3      214853420        78448
4      214826610        69710
...          ...          ...
52734  214811685            1
52735  214811687            1
52736  214811690            1
52737  214811692            1
52738  214554114            1

[52739 rows x 2 columns]